@import url("loader.css");
html {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    min-width: 350px;
    max-width: 1440px;
    max-height: 1024px;
  }
  
#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.photographer-header{
  display: flex;
  margin: 2rem 5rem;

}
.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 5rem;
    padding: 0 3rem;
}

.photograph-header__bloc-titre{
    display: flex;
    justify-content:left;
    flex-direction: column;
}
.photograph-header img {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover{
  background-color: #db8876;
  color: black;
}

/*--------------------
  ------ Modale ------
  --------------------
*/

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: auto;
    animation: modalopen 0.3s;
    
  }
#contact_modal header{
  position: relative;
  /* display: flex; */
}

#contact_modal h2, #contact_modal p{
  text-align: left;
  margin: 0;
  font-size: 4.5rem;
}
#contact_modal img{
  position: absolute;
  top: 1.5rem;
  right: 0;
}

#message{
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2rem;
  resize: none;
}

form input{
  margin: 0.3rem 0 0.3rem 0;
  font-size: 2rem;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.logo {
    height: 50px;
    /* margin: 2rem 5rem; */

}

.photograph-name{
    color: #D3573C;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: normal;
}

.photograph-location{
    color: #901c1c;
    font-size: 1.5rem;
    margin: 0;
    /* font-weight: bold; */
}
.photograph-tagline{
    color: black;
    font-size: 1.1rem;
}

/*--------------------
  ------ Filtre ------
  --------------------
*/
.dropdown {
    position: relative;
    display: inline-block;
    margin: 1rem 0 1rem 0;
  }
  
  .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 130px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    background-color: #901c1c;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropdown ul.active {
    max-height: 200px;
    transition: max-height 0.3s ease-in;
  }
  .dropdown[aria-expanded="true"] ul {
    display: block;
  }
  
  .dropdown ul li {
    position: relative;
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-top: 1px solid white;
  }
    
  .dropdown ul li:hover, .dropdown ul li:focus {
    background-color: #D3573C;
    border-radius: 2px;
  }
  
  .dropdown ul li[aria-selected="true"] {
    background-color: #0071c5;
    color: #fff;
  }
  
  .dropdown button {
    display: block;
    width: 130px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: #901c1c;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown button::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0.5rem;
    font-size: 1rem;
    transition: transform 0.3s ease-out;
  }
  .dropdown button.active::after {
    transform: rotate(180deg);
  }
  .dropdown[aria-expanded="true"] button::after {
    content: "\25B4";
  }

  /*--------------------
    ------ Galerie -----
    --------------------
*/
#sort-images-select option {
    padding: 2rem;
}

main label {
    margin: 0 1rem 0 5rem;
    font-weight: bold;
  }
  
  #photographer-images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  
  #photographer-images img, #photographer-images video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    /* padding-top: 1rem; */
    margin-top: 1rem;
  }
  #photographer-images figure {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 5rem;

  }
  main figcaption {
    font-size: 1.5rem;
    color: #901c1c;
    max-width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0 0.5rem 0;
    
  }
  .lightbox figcaption {
    font-size: 1.5rem;
    color: #901c1c;
    padding: 0.5rem 0 0.5rem 0;
  }

  #photographer-images figure span,
  #photographer-images figure i{
    position: absolute;
    font-size: 1.3rem;
    bottom: 0.8rem;
    right: 0;
    color: #901c52;
    transition: color 0.1s ease-in-out;

  }

  #photographer-images figure span{
    bottom: 0.65rem;
    right: 1.75rem;
    font-weight: bold;
  }

  figure{
    margin: 0;
  }

  .video-caption::before{
    content: "VIDEO";
    position: absolute;
    color: white;
    background-color: #901c1c;
    padding: 0.3rem 0.5rem;
    border-radius: 0 10px 0 5px;
    bottom: 2.95rem;
    font-weight: bold;
    /* box-shadow: 5px -3px 10px 1px rgba(211,87,60,0.8) */
  }

  /*-------------------
    ------ Likes ------
    -------------------
*/
.likes-banner{
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 2rem;
  padding: 1rem 1.5rem;
  background-color: #db8876;
  color: black;
  font-weight: bold;
  width: 300px;
  border-radius: 5px 5px 0 0;
  font-size: 1.5rem;
}
.count-likes::after{
  content: "\f004";
  font-family: "fontawesome";
  padding-left: 0.5rem;
}

/*--------------------
  ------ Lightbox ------
  --------------------
*/
 .lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: rgba(255, 255, 255, 0); */
  transform: translate(-50%, -50%) scale(0);
}
.border-lightbox{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1253px;
  max-height: 984px;
  padding-top: 2rem;
  border-radius: 5px;
  /* background-color: rgba(255, 255, 255, 0); */
}

#video {
  display: block;
  max-height: 900px;
  width: 1050px;
  border-radius: 5px;
  transition: all 0.1s ease-out;
}

.lightbox-img {
  display: block;
  margin: 0;
  max-width: 1050px;
  max-height: 900px;
  border-radius: 5px;
  transition: all 0.1s ease-out;
}

.close {
  position: absolute;
  color: #901c1c;
  font-size: 100px;
  transition: 0.6s ease;
  top: -1.5rem;
  right: 0.5rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.prev, .next {
  font-size: 60px;
  font-weight: bold;
  padding: 16px;
  color: #901c1c;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.prev {
  padding-left: 1rem;
}

.next {
  padding-right: 1rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
