@import url("loader.css");
@import url("photographer.css");
html {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    min-width: 350px;
    max-width: 1440px;
    max-height: 1024px;
  }
  
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h2, p{
    margin: 0;
    font-weight: normal;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a{
    text-decoration: none;
}

.photograph-name{
    color: #D3573C;
    font-size: 2.3rem;
    margin-top: 1rem;
    text-align: center;
}

.photograph-location{
    color: #901c1c;
    font-size: 0.85rem;
    font-weight: bold;
}
.photograph-tagline{
    color: black;
    font-size: 0.63rem;
}
.photograph-price{
    color: #757575;
    font-size: 0.6rem;
}

.photographer_section article img {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown[aria-expanded="true"] ul {
    display: block;
  }
  
  .dropdown ul li {
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .dropdown ul li:hover {
    background-color: #f2f2f2;
  }
  
  .dropdown ul li[aria-selected="true"] {
    background-color: #0071c5;
    color: #fff;
  }
  
  .dropdown button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dropdown button::after {
    content: "\25BE";
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    font-size: 0.75rem;
  }
  
  .dropdown[aria-expanded="true"] button::after {
    content: "\25B4";
  }
  


#sort-images-select option {
    padding: 2rem;
}

#sort-images-select {
    margin-bottom: 20px;
  }
  
  #photographer-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #photographer-images img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
  }
