@import url("photographer.css");
html {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    min-width: 350px;
    max-width: 1440px;
    max-height: 1024px;
  }
  
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h2, p{
    margin: 0;
    font-weight: normal;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a{
    text-decoration: none;
}

.photograph-name{
    color: #D3573C;
    font-size: 2.3rem;
    margin-top: 1rem;
    text-align: center;
}

.photograph-location{
    color: #901c1c;
    font-size: 0.85rem;
    font-weight: bold;
}
.photograph-tagline{
    color: black;
    font-size: 0.63rem;
}
.photograph-price{
    color: #757575;
    font-size: 0.6rem;
}

.photographer_section article img {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

