@import url("loader.css");
@import url("photographer.css");
html {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    min-width: 350px;
    max-width: 1440px;
    max-height: 1024px;
  }
  
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h2, p{
    margin: 0;
    font-weight: normal;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a{
    text-decoration: none;
}

.photograph-name{
    color: #D3573C;
    font-size: 2.3rem;
    margin-top: 1rem;
    text-align: center;
}

.photograph-location{
    color: #901c1c;
    font-size: 0.85rem;
    font-weight: bold;
}
.photograph-tagline{
    color: black;
    font-size: 0.63rem;
}
.photograph-price{
    color: #757575;
    font-size: 0.6rem;
}

.photographer_section article img {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 130px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    background-color: #901c1c;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropdown ul.active {
    max-height: 200px;
    transition: max-height 0.3s ease-in;
  }
  .dropdown[aria-expanded="true"] ul {
    display: block;
  }
  
  .dropdown ul li {
    position: relative;
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-top: 1px solid white;
  }
    
  .dropdown ul li:hover {
    background-color: #D3573C;
    border-radius: 2px;
  }
  
  .dropdown ul li[aria-selected="true"] {
    background-color: #0071c5;
    color: #fff;
  }
  
  .dropdown button {
    display: block;
    width: 130px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: #901c1c;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown button::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0.5rem;
    font-size: 1rem;
    transition: transform 0.3s ease-out;
  }
  .dropdown button.active::after {
    transform: rotate(180deg);
  }
  .dropdown[aria-expanded="true"] button::after {
    content: "\25B4";
  }

#sort-images-select option {
    padding: 2rem;
}

#sort-images-select {
    margin-bottom: 20px;
  }
  
  #photographer-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #photographer-images img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

 .lightbox {
  /* position: relative; */
  display: flex;
  /* opacity: 0; */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: white; */
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* transform: scale(0); */
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.border-lightbox{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 1253px;
  height: 984px;
}
.lightbox-img {
  display: block;
  margin: 0;
  max-width: 1050px;
  max-height: 900px;
}

.close {
  position: absolute;
  color: #901c1c;
  font-size: 100px;
  transition: 0.6s ease;
  top: 80px;
  right: 30px;
  cursor: pointer;
}

.prev, .next {
  font-size: 60px;
  font-weight: bold;
  padding: 16px;
  color: #901c1c;
  cursor: pointer;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
